#cargando img{
  display: none;
}

.error{
  background-color: #fbe9e7;
  border: 1px solid #f4511e;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  color: #f4511e;
}

.error p{
  margin: 0;
}

.correcto{
  background-color: rgb(211, 249, 187);
  border: 1px solid rgb(50, 167, 0);
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  color: rgb(4, 150, 50);
}

.correcto p{
  margin: 0;
}

#resultado{
  margin: 30px 0;
}

#resultado div{
  background-color: #e7fbf2;
  border: 1px solid #26c6da;
  padding: 0 0 20px 0;
  text-align: center;
}

#resultado div p{
  margin: 0;
}

#resultado div p.header{
  background-color: #26c6da;
  margin-bottom: 10px;
  color: white;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
}